$for-k: 2500px;
$full-hd: 1920px;
$laptop-max: 1600px;
$mac-book: 1440px;
$laptop: 1440px;
$tablet: 1050px;
$tablet-sm: 740px;
$mobile-lg: 700px;
$mobile: 600px;
$mobile-md: 450px;
$mobile-sm: 350px;

$time: 0.4s;

//borders
$radius-xs: 8px;
$radius-s: 10px;
$radius-m: 15px;
$radius-l: 20px;
$radius-xl: 16px;

//heights
$height-xs: 16px;
$height-s: 24px;
$height-m: 32px;
$height-l: 40px;
$height-button-s: 24px;

//paddings
$space-1: 2px;
$space-2: 4px;
$space-2-half: 6px;
$space-3: 8px;
$space-4: 12px;
$space-5: 16px;
$space-6: 24px;
$space-7: 32px;
